body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff8f0;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ffb347;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    font-size: 2.8em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 40px 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain
}

.card .contenido {
    padding: 20px;
    text-align: center;
}

.card h2 {
    color: #ff7f50;
    margin-bottom: 10px;
}

footer {
    background-color: #ffb347;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}


/* Responsividad */
@media (max-width: 1024px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .platillo, .bebida, .postre {
        max-width: 90%;
        margin: 20px auto;
    }

    .map-container iframe {
        width: 100%;
        height: 300px;
    }

    header h1, header h2 {
        font-size: 1.5em;
    }

    section h2 {
        font-size: 1.4em;
    }

    p {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    nav .nav-links a {
        display: block;
        margin: 10px 0;
    }

    footer {
        font-size: 0.8em;
        padding: 15px 5px;
    }
}
